.navbar {
  .form-inline {
    .form-actions {
      display: none;
    }
  }
  .block--sitebranding {
    img {
      height: 92px;
      width: auto;
    }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}
.toolbar-horizontal {
  .toolbar-menu {
    &.nav {
      float: left;
    }
  }
}
