// Headings
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  line-height: $headings-line-height;
}

h1, .h1 {
  margin-bottom: 0;
  font-size: rem(35);
}

h2, .h2 {
  font-size: rem(30);
}

h3, .h3 {
  font-size: rem(25);
}

// Text
// -----------------------------------------------------------------------------
p {

}

// Links
// -----------------------------------------------------------------------------
a {

  &:hover {

  }
}

// Lists
// -----------------------------------------------------------------------------
ol,
ul,
dl {

}

// Image
// -----------------------------------------------------------------------------
img {

}

figure {

}

figcaption {

}

// Other
// -----------------------------------------------------------------------------
blockquote {

}

strong {

}

small {

}

.color-primary {
  color: $primary;
}


input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}
